{% extends 'base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block body %}
    <h1>{{ name }} Setting <a href="{{ path('app_settings_list') }}">Back to list</a></h1>
    {{ form(form) }}
{% endblock %}
